.game{
    overflow: hidden;
    background-image: url("/static/images/paradise_island.jpg");
    background-size: 100% 100%;
    display: block;
    position: absolute;
    top: 40px;
    bottom: 20px;
    width: 100%;
}

.score{
    font-size: 300px;
    z-index: 20;
    font-family: arial;
    color: #d7e4d9;
    user-select:none;
    width:100%;
    text-align:center;
}

.box{
    width: 100px;
    height:100px;
    position:absolute;
    top: -150px;
    transition: transform 1.5s linear;
    cursor: pointer;
    z-index:100;
}

.move{
    transform:translateY(120vh);
}

.counter{
    width:100%;
    margin: 0 auto;
    text-align:center;
    font-family:arial;
    color:red;
    font-weight:bold;
    padding-top:10px;
    font-size:20px;
    position:relative;
    z-index:9999;
}
