<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catch Hans Berger!</title>
    <script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/hans_styles.css" />
</head>

<body>
    <div class="game">
        <div class="counter" id="counter">00s</div>
        <div class="score">00</div>
    </div>
    <script type="text/javascript" src="/static/js/catch_hans/hans.js" ></script>
</body>
</html>