<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>
<link type="text/css" rel="stylesheet" href="/static/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">

<div class="container">
    <div class="row kl-logo">
        <div class="kl-logo-image-wrapper" href="http://www.koniglabs.ru">
            <img alt="Konig Labs" src="/static/images/KonigLabsLogo.png"/>
        </div>
    </div>
    <div class="row kl-wholewidth-section">
        <div class="kl-content">
            <h1> *Labs* Office Portal </h1>
            <div class="main" style="display: block;">
                <div>
                    <h4>Туалет:</h4>
                    <div id="wc_status" style="font-weight: bold">Неизвестно</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row hardware-by">
        <div class="lab-409-logo" href="http://www.lab409.ru">
            <h3>Hardware by</h3>
            <img alt="Lab 409" src="/static/images/lab409-logo.png"/>
        </div>
    </div>
</div>
