<script type="text/javascript" src="/static/js/index.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.11.0.min.js"></script>

<h1> *Labs* Office Portal </h1>
<div class="main" style="display: block;">
    <div>Туалет:
        <div id="wc_status" style="font-weight: bold">Неизвестно</div>
    </div>
</div>
<div class="footer" style="display: block;">
    <div>Powered by <a href="http://www.koniglabs.ru">Konig Labs</a></div>
    <div>Hardware by <a href="http://www.lab409.ru">Lab409</a></div>
</div>
